# Pycharm files
.idea/

# Pycache
__pycache__/
*/__pycache__/*

# Data
data/

# Notebooks
notebooks/
*.ipynb
.ipynb*

# Submissions
submissions/*
!submissions/sample_submission.csv

# References
references/
